/* Corps de la page, mise en page globale */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Conteneur principal pour le style Discord */
#app {
  display: flex;
  width: 100%;
}

/* Barre latérale des serveurs */
#servers {
  background-color: #202225;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

/* Style des icônes de serveur */
#servers div {
  width: 50px;
  height: 50px;
  margin: 10px 0;
  border-radius: 50%;
  background-color: #5865F2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* Style des logos de serveur */
.server-logo img {
  width: 50px;
  height: 50px;
  margin: 10px 0;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.2s;
}

/* Animation au survol des logos */
.server-logo img:hover {
  transform: scale(1.1);
}

/* Couleur au survol des icônes de serveur */
#servers div:hover {
  background-color: #404EED;
}

/* Barre latérale des canaux */
#channels {
  background-color: #2F3136;
  width: 250px;
  padding: 10px;
  color: white;
  overflow-y: auto;
}

/* Titre des canaux */
#channels h2 {
  margin-top: 0;
}

/* Liste des canaux */
#channels ul {
  list-style: none;
  padding: 0;
}

#channels ul li {
  margin: 5px 0;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

/* Couleur au survol des canaux */
#channels ul li:hover {
  background-color: #40444B;
}

/* Contenu principal */
#content {
  flex-grow: 1;
  background: linear-gradient(160deg, #333333, #4d4d4d, #666666, #808080, #999999);
  background-size: 300% 300%; /* Permet au dégradé de s'étendre au-delà de l'écran */
  animation: gradientAnimation 15s ease infinite; /* Durée de l'animation et son cycle */
  min-height: 100vh;
  color: white;
  padding: 20px;
  overflow-y: auto;
}

@keyframes gradientAnimation {
  0% {
      background-position: 0% 50%; /* Position de départ du dégradé */
  }
  50% {
      background-position: 100% 50%; /* Milieu du mouvement */
  }
  100% {
      background-position: 0% 50%; /* Retour à la position initiale */
  }
}

/* Style des liens */
a {
  color: #3498db;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #2980b9;
}

/* Style spécifique pour le bouton Home */
.server-logo:first-child {
  background-color: #2f3136;
  border: 2px solid #7289da;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.server-logo:first-child:hover {
  background-color: #40444b;
}

/* Suppression des puces dans les listes */
ul {
  list-style-type: none;
}
